.list {
    margin-top: -10px;
    padding: 0;
}

.list__item {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-gap: 10px;
    align-items: center;
    word-break: break-word;
    border-bottom: 2px solid #e8e8e8;
    padding: 17px 10px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__button {
    background-color: #dc143c;
    color: white;
    border: none;
    height: 30px;
}

.list__button:hover {
    background-color: #ee4466
}

.list__button:active {
    border: 2px solid black;
}

.list__button--done {
    background-color: #008000;
    color: #008000;
}

.list__button--done:hover {
    background-color: #00a800;
}

.list__button--checked {
    color: #fff;
}

.list__item--hidden {
    display: none;
}